/.vscode
/teste1-webscraping/__pycache__
/teste2-converter_para_csv/__pycache__
/teste3-banco_de_dados/__pycache__
/teste3-banco_de_dados/full_tables/*
/teste3-banco_de_dados/2019/*
/teste3-banco_de_dados/2020/*